/*Class for the "card" object/widget*/
.card {
    /*min-height: 430px; Height of the image*/
    padding-top: 0px;
}

#desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}