@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

:root {
  --colour-primary: #20cc84;
  --colour-secondary: #2c3043;
  --colour-light-grey: #f1f4f8;
  --colour-muted: #87a1c1;
  --colour-white: #f8f8fb;
  --colour-bright: #ffffff;
}

h1 {
  font-size: 48px; /*Largest text I found on figma was 48?*/
  font-weight: normal;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-size: 56px;
  font-weight: bold;
}

h4 {
  font-size: 32px;
  font-weight: bold;
}

h5 {
  font-size: 28px;
  font-weight: bold;
}

h6 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 160%;
}

hr {
  border: 5px solid #74D142;
  width: 72px;
}

/*Variations on the p syle*/
#subtitle {
  color: #6C85AA;
  padding-top: 0%;
  padding-bottom: 16px;
  margin: 0px;
}

#title {
  color: #131A2C;
  padding-top: 0px;
  padding-bottom: 28px;
  margin: 0px;
}

#description {
  font-weight: 400;
  color: #111929;
  padding-top: 31px;
  padding-bottom: 23px;
  max-width: 572px;
  margin: 0px;
}

/*Button css*/
button {
  border-radius: 100px;
  margin: 0;
  font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*Variations on the button style*/
#plan {
  border: none;
  background-color: #74D142;
  color: #FFFFFF;
  width: 141px;
  height: 51px;
}

#learn_more {
  border: none;
  background-color: #74D142;
  color: #FFFFFF;
  width: 219px;
  height: 51px;
}

/*Positioning for text in the two "highlight" boxes*/
#text_left {
  padding-left: 10%;
  padding-right: 0px;
}

#text_right {
  padding-left: 0px;
  padding-right: 0px;
}

/*Positioning for images in the two "highlight" boxes*/
#img_left {
  padding-left: 15%;
  padding-right: 20%;
}

#img_right {
  padding-left: 20%;
}

/*Class for the "highlight" object/widget*/
.highlight {
  min-height: 430px; /*Height of the image*/
  display: flex;
  flex-direction: row;
  padding-top: 190px;
  padding-bottom: 190px;
}

#highlight1 {
  background-color:#F8F8FB;
}

#highlight2 {
  background-color: #FEFEFE;
}

body {
  margin: 0;
  font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
